.alert{
	font-weight:bold !important;
}
.twitter-typeahead {
    width: 100%;
    position: relative;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
    width: 100%;
    height: 38px;
    position: absolute;
    top: 0;
    left: 0;
}

.twitter-typeahead .tt-hint {
    color: #fff;
    z-index: 1;
    padding: 6px 12px;
    border: 1px solid transparent;
}
.btn-group.open .dropdown-toggle{
	box-shadow: none !important;
}

.twitter-typeahead .tt-query {
    z-index: 2;
    border-radius: 0px !important;
}

.input-group-addon + .twitter-typeahead > .tt-query {
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}

.input-group-appended > .twitter-typeahead > .tt-query {
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}


.tt-dropdown-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
    white-space: nowrap !important; 
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #dd4814;
    background-repeat: repeat-x;
}

.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}

.tt-suggestion p {
    margin: 0;
    white-space: nowrap !important; 
}

.navbar-brand{
	padding-top: 5px;
	height: 41px !important;
}
#map img,.google-maps img {
  max-width: none;
}
.signup_rpart {
	min-height: 530px;
	/* background-image: url('/img/html_bg.png'); */
	background-repeat: no-repeat;
	color: #000;
}

.ui-helper-hidden {
	display: none;
}

div.error {
	display: none;
}
span.error, .error {
	color: red;
	font-style: italic;
	font-weight: bold;
}
.table-scroll div.col-sm-12 { 
	overflow: scroll; 
	height: 50vh;
	margin-top: 6px;
	width: 100%;
}   
.table-scroll .table > thead{
    	position: sticky;
    	top: 0;
    	z-index: 1;
    }
.table-scroll table.dataTable{
	margin-top: 0px !important;
}
.table-scroll .table{
	width: 100% !important;
}
.table-scrollnorm{
	overflow: scroll;
	height: 50vh;
	width: 100%;
}
.table-scrollnorm .table > thead{
	position: sticky;
	top: 0;
	z-index: 1;
}
.table-scrollnorm .table{
	width: 100%;
}
.md-overlay .close-disable{
	pointer-events: none;
	opacity:0.5; 
}
#modalsync{
	font-size: 16px;
	margin: 16px;
}
.ellipsis-size{
  font-size: 1.90em;
}
.ellipsis-align{
	text-align: left;
}
.ms-corner-all {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.img {
	display: inline;
	position: relative;
	border-radius: 4px;
}
.bigimg{
	min-width: 100px;
	max-width: 250px; 
}
#map img{
	width: 50px;
}
.margin-left20 {
	margin-left: 20px;
}
.margin-top20 {
	margin-top: 20px;
}

.margin-top5 {
	margin-top: 5px;
}

.widget {
	background-color: #EEE;
	color: #111;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	margin: 2px 2px 10px 2px;
	padding-bottom: 4px;
	border-left: 1px solid #ce4213;
	border-bottom: 1px solid #ce4213;
}

.widget h4 {
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	background-color: #DD4814;
	color: #DDD;
	font-size: 12px;
	padding: 5px 4px 4px 4px;;
	height: 20px;
}
.widget div {
	padding: 2px;
	text-align: justify;
}

.widget2{
	background-color: #FCEFD4;
}
.widget2 h5, .widget2-header{
	margin: 0;
	background-color:
	 #ECA918;
	line-height: 20px;
}
.widget2-header{
	line-height: 25px;
	padding: 10px;
	font-size: 18px;
}

.widget2 div {
	padding: 1px;
	text-align: justify;
	line-height: 25px;
}
.widget2 li{
	line-height: 25px;
}

.avl {
	text-align: justify;
}
#cnc-loading {
	background-color: #191919e6;
	position: fixed;
	padding: 5px;
	left: 50%;
	top: 50%;
	display: none;
	z-index: 550;
}
.loader {
  border: 6px solid #e16408;
  border-radius: 50%;
  border-top: 6px solid #3333;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.hide {
	display: none;
}

.moretimeslot {
	cursor: pointer;
	margin-left: 25px;
}

.avlnext {
	margin-top: 5px;
}

.space {
	padding-top: 10px;
	height: auto;
}

#main .tooltip {
  	font-size: 15px;
	filter: drop-shadow(rgba(0, 0, 0, 0.3) 0 2px 10px);
}

#main .tooltip .tooltip-inner {
  background-color: white;
  color: black;
  padding: 10px;
  min-width: 250px;
}

.confheading {
	font-size:32px;
	line-height:36px;
	color:#df382c;
	text-align:center;
}

.confcaption {
	color:grey;
	text-align:center;
	font-style: italic;
	font-size:12px
}

.confpartner {
	color:grey;
	text-align:center;
	font-style: italic;
	font-weight: bold;
	font-size:13px
}

.confline {
	border-bottom:1px solid #df382c;
}

.confdate {
	font-size:20px;
	line-height:30px;
	color:#772953;
	text-align:center;
}

.confaddr {
	font-size:14px;
	line-height:20px;
	color:#df382c;
	text-align:left;
}

.confmotto {
	font-size:18px;
	line-height:20px;
	color:#38b44a;
	text-align:center;
}

.printname {
	font-size:22px;
	line-height:30px;
	color:#333;
	text-align:center;
}

.printaddr {
	font-size:14px;
	line-height:16px;
	color:#333;
	text-align:center;
}
.printaddr2 {
	font-size:11px;
	line-height:16px;
	color:#333;
	text-align:center;
}

.printname-sm {
	font-size:13px;
	line-height:30px;
	color:#333;
	text-align:center;
}

.printaddr-sm {
	font-size:11px;
	line-height:16px;
	color:#333;
	text-align:center;
}

.printline {
	border-bottom: 1px solid #999;
	margin-bottom: 5px !important;
}

.printfulladdr {
	font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:30px;
	line-height:42px;
	color:#333;
}

.patientdashboardheading {
	font-size:18px;
	line-height:20px;
	color:#333;
	text-align:center;
}
#watermark {
	line-height: 1000px;
	width:100%;
	position: fixed;
	z-index:inherit;
    vertical-align: middle;
	text-align: center;
	opacity:0.1;
	font-size: 50px;
   
}
#watermark div{
	-ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari */
    transform: rotate(-45deg); /* Standard syntax */
}

#watermark_bg{
	top:50% !important;
	width: 100%;
	position: fixed;
	z-index: inherit;
	vertical-align: middle;
	text-align: center;
	opacity: 0.1;
	font-size: 50px;
}
#watermark_bg div{
	-ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari */
    transform: rotate(-45deg); /* Standard syntax */
}
ul .dropdown-menu-black a:hover,
ul .dropdown-menu-black a:focus{
	color: white;
	background-color: #aaa;
	background-image: none;
}

ul .dropdown-menu-black,
ul .dropdown-menu-black a
{
    color: #333;
}

ul .dropdown-menu-green a:hover,
ul .dropdown-menu-green a:focus{
	color: #fff;
	background-color: #51A351;
	background-image: none;
}

ul .dropdown-menu-green,
ul .dropdown-menu-green a
{
    color: #51A351;
}

.input-xmini
{
	width:30px;
}

.pres-type{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	float: right;
	font-style: italic;
}

.pres-med{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 20px;
}

.pres-med-small{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.pres-ins{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #3a87ad;
}

.pres-mrp{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	float: right;
	font-style: italic;
	font-weight: bold;
	color: #38b44a;
}

.pres-mfr{
	color: red;
	font-weight: bold;
	font-size: 13px;
	font-style: italic;
	font-weight: bold;
}

.pres-stock{
	color: #772953;
	font-weight: bold;
	font-size: 13px;
	font-style: italic;
	font-weight: bold;
}

.ar{
	text-align: right !important;
	padding-right:10px !important;
}

.arspan{
	display: block !important;
	text-align: right !important;
	padding-right:15px !important;
	width:90%;
}

.svc-name{
	font-size: 17px;
	font-weight: bold;
	color: #E16408;
	padding-left: 15px;
}

.error-highlight.form-control {
  border-color: red !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.error-highlight.form-control:focus {
  border-color: red !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
.bootstrap-datetimepicker-widget  .timepicker-picker  table td  a span,
.bootstrap-datetimepicker-widget  .timepicker-picker  table td,
.bootstrap-datetimepicker-widget  .timepicker-picker  table td  span
{height: 30px; line-height: 30px; width: 30px; padding:0px;}
.bootstrap-datetimepicker-widget.dropdown-menu{
	width: 0px;overflow: visible;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.grid-container>div {
  text-align: Left;
  padding:2px;
}
.bg-md-default{
    background-color: whitesmoke;
    color: #e16408;
}
.md-formheader
{
	margin: 0rem 0rem 0rem 0rem;
	border: none;
	border-radius: .125rem;
	padding: 0.7rem;
	background: #32c2b2;
	color: #ffffff;
	font-size: 19px;
	line-height: 1.4;
	font-weight: 300;
}

.md-formbodywell
{
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	border: 1px solid #D3D3D3 !important;
	background: #ffffff;
}
.md-note-well{
	padding: 10px;
	width:800px;
	text-align: center;
    background: white;
    margin-bottom:10px; 
    margin-left: 25em;	border: 1px solid #e3e3e3;
	box-shadow: 0 4px 14px 0 rgba(0,0,0,0.4);

}
.md-note-text{
    color: #32c2b2;
}
.md-note-info-width .popover{
	max-width:400px; 
	box-shadow: 0 4px 14px 0 rgba(0,0,0,0.4);
}
.md-note-info-width .popover .popover-content {
	color: #32c2b2;
}
.md-note-info:focus{
	outline:0px !important;
}
.md-error-alert-modal-header{
	text-align:center;
	font-size:22px;  
}
.md-error-alert-modal-footer,.md-error-alert-modal-body{
	padding:10px;
	text-align:center;
	border-top:0px;
}

/* Floting label - reffered at https://getbootstrap.com/docs/4.1/examples/floating-labels/ */
.form-label-group-md {
  position: relative;
  margin-top: 23px;
}

.form-label-group-md > input,
.form-label-group-md > .label-md {
  padding: .75rem .75rem;
}

.form-label-group-md > .label-md {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: #cccccc;
    border: 1px solid transparent;
    transition: all .1s ease-in-out;
}
.form-label-group-md > .label-md .error {
	/*color: #cccccc;*/
}
.form-label-group-md input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group-md input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group-md input::-moz-placeholder {
  color: transparent;
}

.form-label-group-md input::placeholder {
  color: transparent;
}
.placeholder-not-transparent::placeholder
{
	color: #333333;
}
.form-label-group-md input:not(:placeholder-shown) ~ .label-md {
  margin-top: -33px;
  margin-left: -9px;
  /*color: #777;*/
}
.form-label-group-md input:not(:placeholder-shown) ~ .label-md span {
 	color: red;
}
.form-label-group-md, .form-label-group-md-not-float
{
	margin-bottom: 10px;
}
.form-label-group-md-not-float .label-md
{
  margin-top: -20px;
  /*color: #777;*/
}

/*Theme Color */
.theme_color
{
	background-color: whitesmoke;
	color: #e16408;
}
/* Bootstrap Modal Design */
.md-modal-content
{
	border-radius: 2px;
	border: 0;
	background: transparent;
}
.md-modal-header
{
	background-color: #32c2b2;
	color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	font-weight: 300;
	border: 0;
	border-top-left-radius: .8rem;
	border-top-right-radius: .8rem;
}
.md-modal-body
{
	background: #fff;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	/*z-index: -1; *//* to set box-shadow for header */
}
.md-modal-footer
{
	background: #000;
}
.md-modal-content .close, .md-modal-content .close:hover
{
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
}
.md-overlay {
  background-color:white;  
  height:0;
  width: 100%;
  position: fixed;
  z-index: 1041;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding:0;
}

.md-overlay-content {
  position: relative;
  width: 100%;
}
.md-overlay-body{
	width:100%;
	margin:0; 
	margin-top:3%
}
.md-overlay .md-overlay-closebtn {
	top:0;
	right: 2px;
	font-size: 25px;
	color:red;
	float:right; 
}
.md-overlay-header{
 width:100%;
 z-index:1050;
 background-color:#32c2b2; 
 margin:0;
}
.md-overlay .md-overlay-closebtn:hover{
	color:#5e5e5e; 
}
.md-overlay-open{
	overflow-y:hidden; 
}
.mc-well{
	padding: 12px;
	margin-bottom: 20px;
	border: 1px solid #D3D3D3;
}
/*Print Border-Line*/
.strip-line {
    border-top: 1px solid #999 !important;
    border-bottom: 1px solid #999 !important;
}
#tbl-border .table > thead > tr > th, #tbl-border .table > tbody > tr > th{
    border-top: 1px solid #999 !important;
    border-bottom: 1px solid #999 !important;
}
#footer-first .footerborder{
    border-top: 1px solid #999 !important;
}