/* Table of Contents

	- HTML5 Reset
		- Baseline Normalize
		- Box Sizing
		- Float Clearing
	- Defaults
		- Typographical Elements
		- Links
		- Headings
		- Objects
		- Forms & Buttons
		- Tables
		- Screen Reader Text
		- Skip Links
		- Accessible Menu
	- Structure and Layout
		- Site Containers
		- Bubble Layout
		- Column Widths and Positions
		- Column Classes
	- Common Classes
		- WordPress
		- Genesis
		- Titles
	- Plugins & Widgets
		- Featured Content
		- Genesis eNews Extended
		- Genesis Latest Tweets
		- Genesis Extender
		- Gravity Forms
		- Jetpack
		- FancyBox for WordPress
		- MapPress
		- Simple Section Navigation
		- Events Manager
		- Simple Newsletter Signup
		- WP Types & Views
		- MM Components
	- Site Header
		- Title Area
		- Logo
		- Widget Area
	- Site Navigation
		- General Navigation
		- Sub Navigation
		- Site Header Navigation
		- Primary / Mobile Navigation
		- Navigation Extras
		- Sub Menus
		- Non jQuery Styles
		- Secondary Navigation
	- Content Area
		- Entries
		- Pagination
		- Comments
	- Sidebars
	- Footer Widgets
	- Site Footer
	- General Components
	- Specific Pages
	- Media Queries

*/

/* HELPERS

$text-color: #3D3D3D;
$navy-blue: #143e77;
$blue: #3f73b9;
$red: #ed1c24;
$green: #a1cd3a;
$bright-blue: #55bceb;
$bright-green: #79a219;

angle-up: "\f106";
angle-right: '\f105';
angle-down: "\f107";
angle-left: "\f104";
*/


@media (min-width: 1040px) {
	.nav-primary .genesis-nav-menu > li {
		max-width: 150px;
	}
}

@media (min-width: 1235px) {
	.nav-primary .genesis-nav-menu > li {
		max-width: 186px;
	}
}

.nav-primary .genesis-nav-menu > li:last-child {
	border-right: 1px solid #799dce;
}

.nav-primary .genesis-nav-menu > li > a:not(.sub-icon) {
	display: block; 
}

.nav-primary .genesis-nav-menu > li > a {
	text-transform: none;
	font-size: 1.4rem;
	font-size: 14px;
	color: #FFF;
	padding: 15px;

}

@media (min-width: 1200px) {
	.nav-primary .genesis-nav-menu > li > a {
		font-size: 1.5rem;
		font-size: 15px;
		padding-top: 22px;
		padding-bottom: 22px;
	}
}


/* current page, hover state & sub nav */
.genesis-nav-menu li:hover,
.nav-primary .genesis-nav-menu > li.current-page-ancestor,
.nav-primary .genesis-nav-menu > li.current-menu-item,
.genesis-nav-menu li ul {
	background-color: #CCEBF9;
}

.genesis-nav-menu li ul li a,
.genesis-nav-menu li:hover > a,
.nav-primary .genesis-nav-menu > li.current-page-ancestor > a,
.nav-primary .genesis-nav-menu > li.current-menu-item > a {
	color: #3f73b9;
}

.genesis-nav-menu li ul li a:hover,
.nav-primary .genesis-nav-menu > li.current-page-ancestor > a:hover,
.nav-primary .genesis-nav-menu > li.current-menu-item > a:hover, 
.genesis-nav-menu ul li:hover > a {
	color: #143e77;
}

/* sub nav */
.genesis-nav-menu li ul,
.genesis-nav-menu li ul li, 
.genesis-nav-menu li ul li a {
	border: none;
}

.genesis-nav-menu li ul li a {
	padding: 12px 15px;
	font-size: 1.3rem;
	font-size: 13px;
	border-top: 1px solid rgba(121, 157, 206, 0.2);
}


/* HEADER WIDGET AREA */

.site-header .header-widget-area {
	background: #CCEBF9;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 40px;
}

.site-header .header-widget-area .widget {
	background: pink;
	max-width: 1100px;
	width: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.site-header .header-widget-area .widget .widget-wrap {
	position: absolute;
	right: 0;
}

.site-header .header-widget-area .menu a {
	padding: 10px;
	padding: 1rem;
	font-size: 1.5rem;
	font-size: 15px;
	color: #3f73b9;
	text-transform: none;
	position: relative;
	display: block;
}

.site-header .header-widget-area .menu li a::after {
	content:'';
	width: 1px;
	background: #3f73b9;
	height: 15px;
	position: absolute;
	right:0;
	top: 12px;
}

.genesis-nav-menu #search-toggle.right {
	cursor: pointer;
	padding: 1.05rem 1rem;
	color: #3f73b9;
}

.genesis-nav-menu input[type="submit"] {
	background-color: #3f73b9;
	border-color: #3f73b9;
}

/* Typographical Elements
--------------------------------------------- */
.entry,
.sidebar .widget {
	border-radius: 0;
}

body.home .entry {
	background: transparent;
}

.vc_row-has-fill>.vc_column_container.top-padding-fix>.vc_column-inner {
	padding-top: 0;
}

body:not(.home) .vc-row + .vc-row {
	/*margin-top: 2rem;*/
}

body:not(.home) .entry,
.border-blue,
.hp-widget,
.border-green,
.border-red,
.health-alerts, 
.sidebar .widget {
	border-top-width: 5px;
	border-top-style: solid;
	
	background-color: #FFF;
	box-shadow: 1px 1.732px 10px 0px rgba(51, 51, 51, 0.1);
}

/* PAGE CONTENT (INTERNAL) */
body:not(.home) .entry {
	padding: 20px;
}

body:not(.home) .entry-header .entry-title {
	/*
font-weight: 600;
	font-size: 4rem;
	font-size: 40px;
	color: #3f73b9;
*/
}


/* Widgets
--------------------------------------------- */

.hp-widget,
.border-orange,
.border-blue,
.border-green,
.border-red,
.health-alerts,
.sidebar .widget {
	padding: 3rem 1.8rem;
	padding: 30px 20px;
}

.sidebar .widget .widgettitle,
.hp-widget h4,
.border-blue h4,
.border-green h4,
.border-red h4,
.health-alerts h4 {
	text-align: center;
}

.hp-widget .mm-button-wrapper,
.sidebar .widget .mm-button-wrapper {
	text-align: center;
}

#nav_menu-8 ul,
.better-section-nav ul,
.simple-section-nav ul,
.quick-links ul {
	margin: 0 15px;
}

.better-section-nav ul,
.simple-section-nav ul {
	margin-left: 5px;
}

#nav_menu-8 ul li,
.better-section-nav ul li,
.simple-section-nav ul li,
.quick-links ul li {
	list-style-type: none;
	padding-left: 15px;
	position: relative;
}

#nav_menu-8 ul li::before,
.better-section-nav ul li:before,
.simple-section-nav ul li::before,
.quick-links ul li::before {
	content: '\f105';
	font: normal normal normal 14px/1 FontAwesome;
	position: absolute;
	left: 0;
	top: 5px;
}

.better-section-nav ul ul li:before,
.better-section-nav ul ul ul li:before {
	top: 2px;
}


#nav_menu-8 ul li a,
.better-section-nav ul li a,
.simple-section-nav ul li a,
.quick-links ul li a {
	text-decoration: none;
	border-bottom: none;
}

/* blue border */
body:not(.home) .entry,
.border-blue {
	border-top-color: #55bceb;
}

/* green border */
.sidebar .widget,
.border-green {
	border-top-color: #a1cd3a;
}

.sidebar .widget .widgettitle,
.border-green h4 {
	color: #79a219;
}

/* red border */
.border-red,
#black-studio-tinymce-17,
#black-studio-tinymce-15,
.health-alerts {
	border-top-color: #ed1c24;
}

.border-red h4,
.health-alerts h4,
#black-studio-tinymce-17 .widgettitle,
#black-studio-tinymce-15 .widgettitle {
	color: #ed1c24;
}


/* orange border */
.border-orange,
.sidebar .better-section-nav,
.sidebar .simple-section-nav {
	border-top-color: #d9591e;
}

/* PAGE NAV MENU */
.sidebar .simple-section-nav .widgettitle,
.sidebar .better-section-nav .widgettitle {
	text-align: left; 
	font-size: 1.8rem;
	font-size: 18px;
	letter-spacing: 0;
	color: #d9591e;
}

.sidebar .better-section-nav .widgettitle a
.sidebar .simple-section-nav .widgettitle a {
	color: #d9591e;
	text-decoration: none;
}

.better-section-nav ul li
.simple-section-nav ul li {
	font-size: 1.6rem;
	font-size: 16px;

}

.better-section-nav ul li:before,
.better-section-nav ul li a,
.simple-section-nav ul li::before, 
.simple-section-nav ul li a {
	color: #3f73b9;
}

.better-section-nav ul ul,
.simple-section-nav ul ul {
	padding-left: 0;
	padding-top: 10px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom:15px;
}

.better-section-nav ul ul ul,
.simple-section-nav ul ul ul {
	margin-left: 5px;
}

.better-section-nav ul ul li,
.simple-section-nav ul ul li {
	font-size: 1.4rem;
	font-size: 14px;
	line-height: 1.3;
	padding-left: 10px;
	margin-bottom: 10px;
	/*
list-style-type: disc;
	list-style-position: inside;
*/

}

.better-section-nav ul ul li:before,
.simple-section-nav ul ul li::before {
	/* content: ''; */
}

.simple-section-nav .current_page_item > a,
.simple-section-nav .custom-custom-post-type-parent > a,
.simple-section-nav .current_page_item::before,
.simple-section-nav .custom-custom-post-type-parent::before
.better-section-nav .current_page_item > a,
.better-section-nav .custom-custom-post-type-parent > a,
.better-section-nav .current_page_item::before,
.better-section-nav .custom-custom-post-type-parent::before {
	color: #143e77;
}

#nav_menu-8 ul ul li::before,
.better-section-nav ul ul ul:before,
.simple-section-nav ul ul li::before,
.quick-links ul ul li::before {
	top: 3px;
	font-size: 12px;
}

/* HOMEPAGE ACCORDIONED CONTENT */
.border-blue .sh-link {
	margin-bottom: 20px;
}

.border-blue .sh-link a:hover {
	color: #3f73b9;
}

.border-blue .sh-link::before {
	font: normal normal normal 16px/1 FontAwesome;
	padding-right: 10px;
	color: #143e77;
}

.border-blue .sh-link.sh-hide::before {
	content: '\f107';
}

.border-blue .sh-link.sh-show::before {
	content: '\f106';
}

/* SEARCH PAGE PAGINATION */
.pagination-next a, 
.pagination-previous a, 
.archive-pagination li a {
	background: #3f73b9;
	text-decoration: none;
	border-radius: 0;
}

.pagination-next a:hover, 
.pagination-previous a:hover, 
.archive-pagination li a:hover, 
.archive-pagination li.active a {
	background: #CCEBF9;
	color: #3f73b9;
}

/* 404 */
body.error404 .search-form {
	margin-bottom: 30px;
}

.search-form input[type="submit"],
.post-password-form input[type="submit"] {
	background-color: #3f73b9;
	border-color: #3f73b9;
}

.post-password-form input[type="submit"] {
	margin-top: 20px;
}

/* FOOTER */
.footer-widgets {
	background-color: #3f73b9;
	color: #FFF;
}

.footer-widgets a {
	color: #fff;
}

.footer-widgets .footer-widget-area .widgettitle {
	position: relative;
	font-size: 1.8rem;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 10px;
}


.footer-widgets .footer-widget-area .widgettitle::before {
	content: '';
	font: 900 16px/21px "Font Awesome 5 Free";
	position: relative;
    top: -1px;
    margin-right: 10px;
}

.footer-widgets .footer-widgets-1 .widgettitle::before {
	content: "\f041";
}

.footer-widgets .footer-widgets-2 .widgettitle::before {
	content: "\f360";
}

.site-footer .wrap,
.footer-widgets .footer-widget-area .menu-footer-web-links-container,
.footer-widgets .footer-widget-area .textwidget,
.footer-widgets .footer-widget-area .textwidget p {
	font-weight: 300;
}

.footer-widgets li {
	margin-bottom: 0;
}

