/*   Top menu Multi Level Navigation Blue Color  */
.nav-top {
 margin: 0px 0;
 background-color:  #4682B4;
 z-index: 100;
 
 
}
.nav-top ul {
	
 padding: 10;
  margin: 0;
 list-style: none;
 position: relative;
 } 
.nav-top ul li {
 display:inline-block;
 background-color:  #FFFF;
 }
.nav-top a {
 display:block;
 padding:0 10px; 
 background-color:  #4682B4;
 color:#FFF;
 font-size:16px;
 
 line-height: 35px;
 text-decoration:none;
}
.nav-top a:hover { 
 background-color: #B0C4DE; 
 color:#0000;
 font-weight:bold;
}
.nav-top ul ul {
 display: none;
 position: absolute; 
 top: 35px; 
} 
.nav-top ul li:hover > ul {
 display:inherit;
} 
.nav-top ul ul li {
 width:200px;
 float:none;
 display:list-item;
 position: relative;
}
.nav-top ul ul ul li {
 position: relative;
 top:-35px; 
 left:200px;
}
.nav-top ul ul li {
 border: 1px solid white;
} 
li  > a:after { content:  ' '; }
 
li > a:only-child:after { content: ''; }


.navbar {
	position: fixed;    
    display: inline-block;    
    width: 100%;
    padding: 0px;
    margin: 0px;
	/* Red Purple 
	background-color:#e40078;
	
	background-color:#e25098;
	
	background-color:#800080;
	background-color:#191970;*/
	background-color:#FF1493;
	/*font-weight:bold;
    background-color: red;*/
    z-index: 10002;
    top: 0;
    left: 0;
}

.navbar ul {
    padding: 0px;
    margin: 0px 100px 0px 0px;
	
}

.navbar li {
    display: inline-block;
    float: left;
    padding: 8px 0px 8px 0px ;

    /*background-color: red;*/
}

.navbar a {
    text-decoration: none;
    color: white;
	font-family: Arial, sans-serif;
	font-size: medium;
}

.navbar a:hover { 
 background-color: red; 
 color:black;
 
}

 .navbar .profile img{
    display: inline;
    width: 50px;
    height: 50px;
    border-radius: 50%;
      
}

/*      Table background for Heading TH */
<style>
#tblhead {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
}

#tblhead td, #tblhead th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tblhead tr:nth-child(even){background-color: #f2f2f2;}

#tblhead tr:hover {background-color: #ddd;}

#tblhead th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: grey;
  color: white;
}

</style>

<style>
.tblhead {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
}

.tblhead td, .tblhead th {
  border: 1px solid #ddd;
  padding: 8px;
}

.tblhead tr:nth-child(even){background-color: #f2f2f2;}

.tblhead tr:hover {background-color: #ddd;}

.tblhead th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: grey;
  color: white;
}

#pink_bg{
	margin: 0rem 0rem 0rem 0rem;
	border: none;
	border-radius: .125rem;
	padding: 0.7rem;
	background: #FF69B4;
	color: #ffffff;
	font-size: 19px;
	line-height: 1.4;
	font-weight: 300;
}


.head_bg_pink{
	margin: 0rem 0rem 0rem 0rem;
border: none;
border-radius: .125rem;
padding: 0.7rem;
/*background: #32c2b2; 
background:#FF69B4;*/

background:#FF1493 ;


color: #ffffff;
font-size: 19px;
line-height: 1.4;
font-weight: bold;
}
</style>



<style>
#formmaster_add {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#formmaster_add td, #formmaster_add th {
  border: 1px solid #ddd;
  padding: 8px;
}

#formmaster_add tr:nth-child(even){background-color: #f2f2f2;}

#formmaster_add tr:hover {background-color: #ddd;}

#formmaster_add th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: grey;
  color: white;
}

</style>

<style>
.formmaster_add {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.formmaster_add td, .formmaster_add th {
  border: 1px solid #ddd;
  padding: 8px;
}

.formmaster_add tr:nth-child(even){background-color: #f2f2f2;}

.formmaster_add tr:hover {background-color: #ddd;}

.formmaster_add th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: grey;
  color: white;
}

</style>


 <style>
 .w3-example {
  padding: 8px 20px;
  margin: 24px -20px;
  box-shadow:none!important;
}
.w3-codespan {
  font-size:105%;
  background-color:rgba(222,222,222,0.3);
}
/*.w3-example p,.w3-panel p {*/
.w3-example p,.w3-info p,.w3-note p,.w3-warning p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.w3-code,w3-codeline{
  font-size:15px;
}


.ws-light-pink {
  background-color:#F3ECEA!important;
  color: black!important;
} 

.ws-pink {
  background-color:#FFC0C7!important;
  color: black!important;
} 


.ws-grey {
  background-color:#E7E9EB!important;
  color: black!important;
} 

.ws-yellow {
  background-color:#FFF4A3!important;
  color: black!important;
} 

.ws-green {
  background-color:#04AA6D!important;
  color: white!important;
} 

.ws-text-green {
  color: #04AA6D!important;
} 

.ws-hover-green:hover {
  background-color:#059862!important;
  color: white!important;
} 

.ws-hover-text-green:hover {
  color:#059862!important;
} 

.ws-light-green {
  background-color:#D9EEE1!important;
  color: black!important;
} 

.ws-turquoise {
  background-color:#96D4D4!important;
  color: black!important;
} 
@media screen and (max-width:600px) {
.w3-example, #w3-exerciseform {margin-left:-32px;margin-right:-32px;border-radius:0}
}
#w3-exerciseform {
  padding: 8px 16px 16px 16px;
  margin: 24px -16px;
}
.w3-example{background-color:#E7E9EB;border-radius:15px;padding:0.01em 16px;margin:20px 0;box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important}
.nextprev a {font-size: 18px;font-family: 'Source Sans Pro', sans-serif;padding-left:19px;padding-right:19px;border:1px solid #cccccc;border-radius:5px;}
.nextprev a:link,.nextprev a:visited {background-color:#ffffff;color:#000000;}
.w3-example a:focus,.nextprev a:focus{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}
.w3-example .w3-btn, .w3-example .ws-btn {
  background-color:#04AA6D!important;
  border-radius:15px;
  font-size: 17px;
  font-family: 'Source Sans Pro', sans-serif;
  padding:6px 18px;
}

#w3-exerciseform {background-color:#F3ECEA;padding:16px;color:#ffffff;border-radius:5px;}
#w3-exerciseform .exercisewindow {background-color:#ffffff;padding:16px;color:#000000;border-radius:5px;}
#w3-exerciseform .exerciseprecontainer {background-color:#F3ECEA;padding:16px;font-size:120%;font-family:Consolas,"Courier New", Courier, monospace;}
#w3-exerciseform .exerciseprecontainer pre[class*="language-"] {padding:1px;}
#w3-exerciseform .exerciseprecontainer pre {display: block;}
#w3-exerciseform .exerciseprecontainer textarea {width:100%;border:none;overflow:hidden}
#w3-exerciseform .exerciseprecontainer input {padding:1px;border: 1px solid transparent;height:1.3em;}
#w3-exerciseform .w3-btn {background-color:#04AA6D;border-radius:5px;font-size: 17px;font-family: 'Source Sans Pro', sans-serif;padding:7px 18px;}
.w3-theme {color:#fff !important;background-color:#73AD21 !important;background-color:#04AA6D !important}
.w3-theme-border {border-color:#04AA6D !important}


 <style>
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>

<div class="dropdown">
  <span>Mouse over me</span>
  <div class="dropdown-content">
    <p>Hello World!</p>
  </div>
</div> 


<style>
/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
</style>

<style>
.wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
	 
}

  .profile img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
      
}

.wrapper .sidebar .profile h3{
    color: #ffffff;
    margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
    color: rgb(206, 240, 253);
    font-size: 14px;
}

 </style>
 
 <style>
 
 
.bgimg
{
	margin: 0;
	padding: 0;
	background: url(s23.jpg);
	background-repeat-none;
	background-color: #999966;
	background-blend-mode: screen;
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}
.login-wrap {
    padding: 20px;
}
   .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  
  .input-group-addon {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #333333;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
}



.hide {
  display: none !important;
} 
.loginbox{
width: 320px;
height: 420px;
background:  white;
color: black;
top: 50%;
left: 58%;
position: absolute;
transform: translate(-50%,-50%);
box-sizing: border-box;
padding: 70px 30px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
box-shadow: 0 10px 10px gray; 
}

	

.near{
width: 320px;
height: 420px;
background: #ff0066;
color: white;
top: 50%;
left:38%;
position: absolute;
transform: translate(-50%,-50%);
box-sizing: border-box;
padding: 70px 30px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
box-shadow: 0 10px 10px gray; 

}
.avatar{
	width: 100px;
	height: 100px;
	border-radius: 70%;
	position: absolute;
	top: -50px;
	left: cal(50% - 50px);
	
}
h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
	
}
.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.loginbox input{
	width: 100%;
	margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: black;
	font-size: 16px;
}
.loginbox input[type="submit"]
{
	
	border: none;
	outline: none;
	height: 40px;
	background:  #ff0066;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
	cursor: pointer;
	background: gray;
	color: #000;
}
.loginbox3{
width: 320px;
height: 420px;
background:  white;
color: black;
top: 50%;
left: 58%;
position: absolute;
transform: translate(-50%,-50%);
box-sizing: border-box;
padding: 70px 30px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
box-shadow:  0 10px 10px gray; 

}
.near1{
width: 320px;
height: 420px;
background: #ff0066;
color: white;
top: 50%;
left: 38%;
position: absolute;
transform: translate(-50%,-50%);
box-sizing: border-box;
padding: 70px 30px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
box-shadow:  0 10px 10px gray; 
}
.avatar{
	width: 100px;
	height: 100px;
	border-radius: 70%;
	position: absolute;
	top: -50px;
	left: cal(50% - 50px);
	
}
h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
	
}
.loginbox3 p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.loginbox3 input{
	width: 100%;
	margin-bottom: 20px;
}
.loginbox3 input[type="text"], input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: black;
	font-size: 16px;
}
.loginbox3 input[type="submit"]
{
	
	border: none;
	outline: none;
	height: 40px;
	background: #ff0066;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}
.loginbox3 input[type="submit"]:hover
{
	cursor: pointer;
	background: gray;
	color: #000;
}




 </style>

