nav{
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 0px;
  width: 100%;
  height: 100%;
  height: 70px;
  background: #E16408;
   
  /*
  background: #FF0000;
     background:#e13a30;*/
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
  color: #ffff;
}

nav .navbar{
  height: 100%;
 // max-width: 1250px;
  width: 100%;
  display: left;
   margin-left: -50px;
  align-items: center;
  justify-content: space-between;
 
  /* background: red; */
  padding: 0 50px;
}

.navbar .logo a{
  font-size: 30px;
   
  text-decoration: none;
  font-weight: 600;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover { background: #ffff !important;color: #ffff;}
.nav li ul li a:hover {color: #e2443e;}
 

nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
   font-size: 15px;
  font-weight: 500px;
   
}
nav .navbar .links{
  display: flex;
  
  
}

nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
  /*background: #002B4F;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);*/
  z-index: 99;
  color: #ffff;
}
nav .navbar .links li a{
	font-family:'Tahoma';
	height: 100%;
	text-decoration: none;
	white-space: nowrap;
   color: #f1f1f1;
	font-size: 16px;
	font-weight: 400px;
 /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);*/
	z-index: 99;
   
}

nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px; 
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
    
}
 nav .links li .sub-menu li{
	/*background-color: #00a950 !important;*/ 
	background-color: #282828 !important; 	
    color: #fff !important;
}
 nav .links li .sub-menu a{
	/*background-color: #00a950 !important; 
	background-color: #ffff !important; 	*/
    color: #fff !important;
}

.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
   //color:black;
}
.navbar .links li .sub-menu a{
	 
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
  color:#000;
     
}
.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
     color:#000;
}


.navbar .links li .sub-menu .more-arrow{
	color:#fff; 
  line-height: 40px;
}
.navbar .links li .sub-menu .more{
	color:#fff;
  line-height: 40px;
}
.navbar .links li .htmlCss-more-sub-menu{
  /* line-height: 40px; */
  color:#000;
     
}

.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}

nav .navbar .links li .arrow{
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}

nav .navbar .links  .htmlCss-sub-menu,
nav .navbar .links  .js-sub-menu{
  display: block;
 color: #fff; 
 
}

nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
  display: block; 
 color: #fff;
}


.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(180deg);
     
  }
 
 
nav .links li .sub-menu li:hover{
	background-color: #E16408 !important; 
	/*background-color: #002B4F !important; */	
    color: #ffff !important;
}

 