	#subnav{
      /* max-height: 26px !important; */
      width: 102.1% !important;
      background-color: whitesmoke;
      color: #e16408;
      position: relative;
      top: -19px;
      left: -12px;
      padding: 0 !important;
      margin: 0 !important;
      border: none !important;
      border-radius: 0 !important;
      z-index: 1000;
    }
    #subnav > div > a.navbar-brand {
      padding-bottom: 0 !important;
      color: #e16408;
      padding-top: 1px !important;
    }
    #subnav > div > ul:first-child > li > a {
       background-color: whitesmoke !important; 
      color: #e16408;  
    }
    #subnav > div > ul > li > a,
    #subnav > div > ul > li > input {
      font-family: inherit;
      font-size: 14px !important;
      font-weight: 400 !important;
      padding-top: 8px !important;
      padding-bottom: 5px !important;
      margin-right: 7px !important;
    }
    #subnav > div > ul > li > ul{
      background-color: whitesmoke;
    }
    #subnav > div > ul > li > a:hover {
      background-color: whitesmoke;
      color: #e16408;
      font-family: inherit;
    }
    #subnav > div > ul > li > a:active {
      background-color: whitesmoke;
      color: #E16408 !important;
      font-family: inherit;
    }
    #subnav > div > ul > li > ul > li > a{
      font-family: inherit;
      font-size: 15px !important;
      font-weight: 400 !important;
      padding-bottom: 0 !important;
      padding-top: 0 !important;
      margin: 0 !important;
    }
    #subnav span.icon-bar{
      background-color: #E16408 !important;
      margin-right: 50% !important;
    }
    #subnav button.navbar-toggle{
      margin: 0 !important;
      padding: 0 !important;
    }
    @media screen and (max-width: 600px){
      #subnav{
      /* height: auto !important; */
      width: auto !important;
      position: relative;
      top: 0;
      left: 0;
      /* padding-top: 5px !important;
      padding-bottom: 5px !important; */
      margin-left: 0 !important;
      }
      #subnav > div.collapse{
        position: relative;
        top: -8px;
      }
	    #myNavbarRight *{
	      color: #e16408 !important;
	    }
    } 
