*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background:  #bf3e11;
    z-index: 9;
}

.navbar1{
    background: #cec9c9;
}
.nav{
    padding: 5px 5vw; 
    display: flex;
    justify-content: space-between;
}

.brand-logo{
    height: 60px;
}

.nav-items{
    display: flex;
    align-items: center;
}

.search{
    width: 500px;
    display: flex;
    
}

.search-box{
    margin-top: 5px;
    width: 80%;
    height: 40px;
    padding: 100px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    text-transform: capitalize;
    font-weight: bold;
    color: black;
    outline: none;
    
}

.search-btn{
    margin-top: 20px;
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #383838;
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-box::placeholder{
    color: black;
}

.nav-items a{
    margin-left: 20px;
    position: relative;
}

.nav-items a img{
    width: 30px;
    cursor: pointer;
}
.links-container{
    width: 100%;
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    /* border-top: 1px solid #d1d1d1; */
}

.link{
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: black;
    /* opacity: 0.5; */
    transition: .5s;
}

.link:hover{
    opacity: 1;
}



.login-logout-popup{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background:#fff;
    border-radius: 10px;
    top:40px;
    width:200px;
    transition: .5s;
    border: 2px soild #f5f5f5;
}

.login-logout-popup::after{
    content: '';
    position: absolute;
    top:-7.5px;
    left:50%;
    transform: transulate(-50%) rotate(45deg);
    width:15px;
    height:15px;
    background:#fff;
    border-radius:5px;
}

.account-info{
    font-size: 20px;
    text-transform: capitalize;
}

#user-btn{
    padding: 10px;
    background: #383838;
    color: #fff;
    outline: none;
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
    text-transform: capitalize;
    cursor: pointer;
}
.hide{
    opacity: 0;
    pointer-events: none;
}

.popup{
   
    list-style-type: none;
    
    
}
.popup_a
{
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
    color: black;
    
}


.popup_a.bold:hover {
    font-size:21px;
    color:#bf3e11;
}
.divider{
   color: #bbb;
    opacity: 0.3;
   
}